Repository memfreeme/memfree: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
    "*/**/*.{js,jsx,ts,tsx}": [
        "prettier --write",
        "eslint --fix",
        "eslint"
    ],
    "*/**/*.{json,css,md}": [
        "prettier --write"
    ]
}

Feat: Added chinese language readme file
  README/README-ZH.md
Due: prettier --write

Feat: Added chinese language readme file (#55)
  README/README-ZH.md
Due: prettier --write

Update README-ZH.md
  README-ZH.md
  README.md
Due: none

Fix README_ZH.md Link
  README_ZH.md
Due: none

Improve README_ZH.md
  README_ZH.md
Due: none

Create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Create PULL_REQUEST_TEMPLATE.md (#56)
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Add env example to vector service
  README.md
  README_ZH.md
  frontend/lib/shadcn.ts
  vector/env-example
Due: prettier --write, eslint --fix, eslint

Add AI UI generator to readme file
  README.md
  frontend/components/layout/feature-sections.tsx
  frontend/components/layout/hero-landing.tsx
Due: prettier --write, eslint --fix, eslint

Add AI UI generator link to readme
  README.md
Due: none

Added readme file for other lang
  README.md
  README_DE.md
  README_ES.md
  README_FR.md
  README_ZH.md
Due: none

Added readme file for other lang (#62)
  README.md
  README_DE.md
  README_ES.md
  README_FR.md
  README_ZH.md
Due: none

Add AI UI Generator features to readme zh
  README.md
  README_ZH.md
  frontend/components/layout/feature-sections.tsx
Due: prettier --write, eslint --fix, eslint

Add emoji to readme
  README.md
Due: none

Added japanese readme file.
  README.md
  README_DE.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_ZH.md
Due: none

Added japanese readme file. (#63)
  README.md
  README_DE.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_ZH.md
Due: none

Remove some logs
  frontend/app/api/search/route.ts
  frontend/lib/tools/auto.ts
Due: prettier --write, eslint --fix, eslint

Remove pricing page prefetch
  frontend/components/modal/upgrade-model.tsx
Due: prettier --write, eslint --fix, eslint

Disable next link prefetchs
  frontend/app/[locale]/(docs)/docs/[[...slug]]/page.tsx
  frontend/app/[locale]/(marketing)/blog/[...slug]/page.tsx
  frontend/app/[locale]/(marketing)/share/[id]/page.tsx
  frontend/components/billing-info.tsx
  frontend/components/blog-posts.tsx
  frontend/components/content/mdx-card.tsx
  frontend/components/content/mdx-components.tsx
  frontend/components/docs/pager.tsx
  frontend/components/docs/sidebar-nav.tsx
  frontend/components/index/index-web.tsx
  frontend/components/layout/feature-sections.tsx
  frontend/components/layout/hero-landing.tsx
  frontend/components/layout/mobile-footer.tsx
  frontend/components/layout/mobile-header.tsx
  frontend/components/layout/mobile-menu.tsx
  frontend/components/layout/nav.tsx
  frontend/components/layout/sign-in-group.tsx
  frontend/components/layout/simple-site-footer.tsx
  frontend/components/layout/site-header.tsx
  frontend/components/layout/user-account-nav.tsx
  frontend/components/pricing-cards.tsx
  frontend/components/search/demo-questions.tsx
  frontend/components/search/ui-demo-gallaty.tsx
  frontend/components/sidebar/search-history.tsx
  frontend/components/sidebar/sidebar-list.tsx
  frontend/components/sidebar/sidebar-open.tsx
  frontend/hooks/use-new-search.ts
Due: prettier --write, eslint --fix, eslint

Add reduce-vercel-costs blog
  frontend/content/blog/en/reduce-vercel-costs.mdx
  frontend/content/blog/zh/reduce-vercel-costs.mdx
Due: none

Add user signIn check
  frontend/components/search/search-bar.tsx
  frontend/components/search/search-window.tsx
Due: prettier --write, eslint --fix, eslint

Add user ratelimit in server
  frontend/app/api/generate-ui/route.ts
  frontend/app/api/search/route.ts
  frontend/components/search/search-window.tsx
  frontend/lib/ratelimit.ts
Due: prettier --write, eslint --fix, eslint

Update pricing page for AI UI generator
  frontend/app/[locale]/(search)/pricing/loading.tsx
  frontend/components/modal/upgrade-model.tsx
  frontend/components/pricing-cards.tsx
  frontend/messages/ar.json
  frontend/messages/de.json
  frontend/messages/en.json
  frontend/messages/es.json
  frontend/messages/fr.json
  frontend/messages/ja.json
  frontend/messages/zh.json
Due: prettier --write, eslint --fix, eslint

Add wall of love to pricing page
  frontend/app/[locale]/(search)/pricing/page.tsx
  frontend/components/layout/wall-of-love.tsx
Due: prettier --write, eslint --fix, eslint

Fix generate UI page openGraph and SEO
  frontend/app/[locale]/(search)/generate-ui/page.tsx
  frontend/components/layout/feature-sections.tsx
  frontend/components/layout/generate-ui-hero-landing.tsx
  frontend/components/search/ui-demo-gallaty.tsx
Due: prettier --write, eslint --fix, eslint

Add ratelimit for all user
  frontend/app/api/generate-ui/route.ts
  frontend/app/api/search/route.ts
  frontend/lib/ratelimit.ts
Due: prettier --write, eslint --fix, eslint

Update pricing page items
  frontend/components/pricing-cards.tsx
  frontend/messages/en.json
  frontend/messages/zh.json
Due: prettier --write, eslint --fix, eslint

Support user blanklist
  frontend/components/modal/upgrade-model.tsx
  frontend/components/search/search-window.tsx
  frontend/lib/env.ts
  frontend/lib/ratelimit.ts
Due: prettier --write, eslint --fix, eslint

fix: resolv compiler warnings in multiple files
  frontend/components/code/toolbar.tsx
  frontend/components/layout/feature-sections.tsx
  frontend/components/ui/pagination.tsx
  frontend/components/ui/separator.tsx
Due: prettier --write, eslint --fix, eslint

fix: resolv compiler warnings in multiple files (#64)
  frontend/components/code/toolbar.tsx
  frontend/components/layout/feature-sections.tsx
  frontend/components/ui/pagination.tsx
  frontend/components/ui/separator.tsx
Due: prettier --write, eslint --fix, eslint

Update sidebar-item to include message count and datetime
  frontend/components/sidebar/sidebar-item.tsx
Due: prettier --write, eslint --fix, eslint

refactor:address compiler warnings and improve file naming
  frontend/app/[locale]/(search)/generate-ui/page.tsx
  frontend/components/code/code-viewer.tsx
  frontend/components/code/preview.tsx
  frontend/components/layout/wall-of-love.tsx
  frontend/components/search/ui-demo-gallery.tsx
  frontend/components/ui/radio-group.tsx
  frontend/components/ui/slider.tsx
Due: prettier --write, eslint --fix, eslint

corrected classname
  frontend/components/ui/slider.tsx
Due: prettier --write, eslint --fix, eslint

Added code of conduct md file
  CODE_OF_CONDUCT.md
Due: none

refactor: address compiler warnings and improve file naming (#66)
  frontend/app/[locale]/(search)/generate-ui/page.tsx
  frontend/components/code/code-viewer.tsx
  frontend/components/code/preview.tsx
  frontend/components/layout/wall-of-love.tsx
  frontend/components/search/ui-demo-gallery.tsx
  frontend/components/ui/radio-group.tsx
  frontend/components/ui/slider.tsx
Due: prettier --write, eslint --fix, eslint

Added code of conduct md file (#67)
  CODE_OF_CONDUCT.md
Due: none

Update sidebar-item to include message count and datetime (#65)
  frontend/components/sidebar/sidebar-item.tsx
Due: prettier --write, eslint --fix, eslint

Fix generate ui image upload accept file types
  frontend/components/search/search-bar.tsx
  frontend/messages/ar.json
  frontend/messages/de.json
  frontend/messages/en.json
  frontend/messages/es.json
  frontend/messages/fr.json
  frontend/messages/ja.json
  frontend/messages/zh.json
Due: prettier --write, eslint --fix, eslint

Improve SidebarItem style
  frontend/app/[locale]/(search)/dashboard/page.tsx
  frontend/app/[locale]/(search)/generate-ui/page.tsx
  frontend/app/[locale]/(search)/page.tsx
  frontend/app/[locale]/(search)/pricing/page.tsx
  frontend/app/[locale]/(search)/producthunt/page.tsx
  frontend/app/[locale]/(search)/search/[id]/page.tsx
  frontend/app/[locale]/(search)/settings/page.tsx
  frontend/components/sidebar/sidebar-desktop.tsx
  frontend/components/sidebar/sidebar-item.tsx
  frontend/components/sidebar/sidebar-list.tsx
Due: prettier --write, eslint --fix, eslint

feat(frontend): removed unused icons
  frontend/components/shared/icons.tsx
Due: prettier --write, eslint --fix, eslint
