Repository memfreeme/memfree: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
    "*/**/*.{js,jsx,ts,tsx}": [
        "prettier --write",
        "eslint --fix",
        "eslint"
    ],
    "*/**/*.{json,css,md}": [
        "prettier --write"
    ]
}

Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Update documentation_update.yml
  .github/ISSUE_TEMPLATE/documentation_update.yml
Due: none

Update enhancement.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
Due: none

Update feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Add option for an issue to be assigned in the issue templates. (#128)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_update.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  README.de.md
  README.es.md
  README.fr.md
  README.ja.md
  README.zh-CN.md
Due: none

Docs: Add documentation for useSearchStore tests
  frontend/lib/store/tests/README.md
Due: prettier --write

Add one click deploy for railway
  README.md
Due: none

Docs: Add documentation for tests for useSearchStore hook. (#129)
  frontend/lib/store/tests/README.md
Due: prettier --write

Add one click deploy for railway (#130)
  README.md
Due: none

Fix compile
  frontend/lib/search/search.ts
Due: prettier --write, eslint --fix, eslint

fix: #111 - scrollbar showing in center for pricing page
  frontend/app/[locale]/(search)/pricing/page.tsx
  frontend/components/pricing-cards.tsx
Due: prettier --write, eslint --fix, eslint

fix: #111 - scrollbar showing in center for pricing page (#131)
  frontend/app/[locale]/(search)/pricing/page.tsx
  frontend/components/pricing-cards.tsx
Due: prettier --write, eslint --fix, eslint

Update README.md
  frontend/lib/store/tests/README.md
Due: prettier --write

removed unnecessary branches for work flow.
  .github/workflows/readme.yml
Due: none

replaced npm install with bun i
  frontend/lib/store/tests/README.md
Due: prettier --write

Update page.tsx
  frontend/app/[locale]/(search)/settings/page.tsx
Due: prettier --write, eslint --fix, eslint

Removed unnecessary branches for work flow. (#133)
  .github/workflows/readme.yml
Due: none

Fix scrollbar showing in middle of the settings page (#134)
  frontend/app/[locale]/(search)/settings/page.tsx
Due: prettier --write, eslint --fix, eslint

change npm command to bun command for test
  frontend/lib/store/tests/README.md
Due: prettier --write

Replaced npm install with bun i (#135)
  frontend/lib/store/tests/README.md
Due: prettier --write

Reduce unnecessary history message
  frontend/lib/tools/generate-ui.ts
Due: prettier --write, eslint --fix, eslint

Fix search bar color issue
  frontend/components/search/search-bar.tsx
Due: prettier --write, eslint --fix, eslint

Revert setting page padding change
  frontend/app/[locale]/(search)/settings/page.tsx
Due: prettier --write, eslint --fix, eslint

Add pagegen to readme
  README.md
Due: none

Reduce the heic2any package size
  frontend/lib/heicConverter.ts
  frontend/lib/utils.ts
Due: prettier --write, eslint --fix, eslint

Add pagegen to memfree
  frontend/components/layout/hero-landing.tsx
  frontend/components/modal/upgrade-model.tsx
  frontend/components/pricing-cards.tsx
  frontend/components/sidebar/search-history.tsx
  frontend/components/sidebar/sidebar-open.tsx
  frontend/config.ts
Due: prettier --write, eslint --fix, eslint

Add blog couldflare-next-on-page-edge
  frontend/app/[locale]/(docs)/docs/[[...slug]]/page.tsx
  frontend/app/[locale]/(marketing)/blog/[...slug]/page.tsx
  frontend/content/blog/en/couldflare-next-on-page-edge.mdx
  frontend/content/blog/zh/couldflare-next-on-page-edge.mdx
Due: prettier --write, eslint --fix, eslint

Update doc and blog footer
  README.md
  frontend/app/[locale]/(docs)/docs/[[...slug]]/page.tsx
  frontend/app/[locale]/(marketing)/blog/[...slug]/page.tsx
  frontend/components/layout/product-footer.tsx
  frontend/config.ts
  frontend/content/blog/en/couldflare-next-on-page-edge.mdx
  frontend/content/blog/zh/couldflare-next-on-page-edge.mdx
Due: prettier --write, eslint --fix, eslint

Enable Claude_35_Sonnet prompt cache
  frontend/bun.lockb
  frontend/lib/llm/llm.ts
  frontend/lib/llm/prompt.ts
  frontend/lib/tools/auto.ts
  frontend/package.json
Due: prettier --write, eslint --fix, eslint

Update blog page UI with pagegen ai
  frontend/app/[locale]/(marketing)/blog/page.tsx
  frontend/components/blog-posts.tsx
  frontend/components/blog/blog-card.tsx
  frontend/components/blog/blog-posts.tsx
  frontend/components/blog/latest-blog-card.tsx
  frontend/components/blog/random-image.ts
Due: prettier --write, eslint --fix, eslint

Update readme for page generator
  README.md
Due: none

Add anthropic-claude-api-proxy-403-forbidden blog
  frontend/content/blog/en/anthropic-claude-api-proxy-403-forbidden.mdx
  frontend/content/blog/zh/anthropic-claude-api-proxy-403-forbidden.mdx
Due: none

Add StorySnap
  README.md
  frontend/components/search/search-bar.tsx
  frontend/lib/shared-utils.ts
Due: prettier --write, eslint --fix, eslint

Add storysnap
  frontend/components/layout/hero-landing.tsx
  frontend/components/search/search-bar.tsx
  frontend/config.ts
  frontend/public/penguin.png
Due: prettier --write, eslint --fix, eslint

Update signin email
  frontend/lib/auth/auth-sind-request.ts
Due: prettier --write, eslint --fix, eslint

Add PromotionBanner
  frontend/app/[locale]/(search)/page.tsx
  frontend/app/[locale]/(search)/pricing/page.tsx
  frontend/app/[locale]/(search)/search/[id]/page.tsx
  frontend/components/layout/banner.tsx
Due: prettier --write, eslint --fix, eslint

Update vercel AI to 4.0
  frontend/bun.lockb
  frontend/package.json
Due: prettier --write

Support reload question and support claude-3-5-haiku
  frontend/bun.lockb
  frontend/components/search/action-buttons.tsx
  frontend/components/search/model-selection.tsx
  frontend/components/search/question-section.tsx
  frontend/components/search/search-message.tsx
  frontend/components/search/search-window.tsx
  frontend/lib/llm/llm.ts
  frontend/lib/llm/prompt.ts
  frontend/lib/model.ts
  frontend/lib/tools/auto.ts
  frontend/package.json
Due: prettier --write, eslint --fix, eslint

Support chat mode
  frontend/app/[locale]/(search)/generate-ui/ui-window-wapper.tsx
  frontend/app/[locale]/(search)/producthunt/search-window-wapper.tsx
  frontend/app/api/search/route.ts
  frontend/components/search/search-bar.tsx
  frontend/components/search/search-window.tsx
  frontend/components/search/source-selection.tsx
  frontend/lib/llm/prompt.ts
  frontend/lib/store.ts
  frontend/lib/tools/answer.ts
  frontend/lib/tools/chat.ts
  frontend/lib/tools/generate-title.ts
  frontend/lib/types.ts
Due: prettier --write, eslint --fix, eslint

Fix o1 model when disable the web search
  frontend/app/api/search/route.ts
  frontend/lib/llm/prompt.ts
  frontend/lib/tools/o1-answer.ts
Due: prettier --write, eslint --fix, eslint
