Repository memfreeme/memfree: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
    "*/**/*.{js,jsx,ts,tsx}": [
        "prettier --write",
        "eslint --fix",
        "eslint"
    ],
    "*/**/*.{json,css,md}": [
        "prettier --write"
    ]
}

Auto translation for README. (#90)
  .github/workflows/readme.yml
  README.de.md
  README.es.md
  README.fr.md
  README.ja.md
  README.md
  README.zh-CN.md
  README_DE.md
  README_ES.md
  README_FR.md
  README_JA.md
  README_ZH.md
Due: none

added testing guidelines and examples
  frontend/lib/store/tests/TESTING_GUIDELINES.md
  frontend/lib/utils.ts
Due: prettier --write, eslint --fix, eslint

added optimized time display format of historical messages
  frontend/components/sidebar/sidebar-item.tsx
  frontend/lib/utils.ts
Due: prettier --write, eslint --fix, eslint

added testing guideline and example
  frontend/lib/store/tests/TESTING_GUIDELINES.md
  frontend/lib/utils.ts
Due: prettier --write, eslint --fix, eslint

added optimized time display format of historical messages (#95)
  frontend/components/sidebar/sidebar-item.tsx
  frontend/lib/utils.ts
Due: prettier --write, eslint --fix, eslint

added testing guideline and example (#96)
  frontend/lib/store/tests/TESTING_GUIDELINES.md
Due: prettier --write

Update the readme.yml permissions
  .github/workflows/readme.yml
Due: none

Update the Help and Support of readme
  README.md
Due: none

Fix zustand warnings
  frontend/lib/store/local-limit.ts
Due: prettier --write, eslint --fix, eslint

Removed commit hooks and added PR Actions
  .eslintignore
  .eslintrc.js
  .github/workflows/lint-and-format.yml
  .gitignore
  .huskyrc
  .lintstagedrc
  .prettierignore
  .prettierrc
  package.json
  pre-commit.txt
Due: none

Changed node version
  .github/workflows/lint-and-format.yml
Due: none

Downgrade date-fns version to 3.0.0
  frontend/package.json
Due: prettier --write

Changed the linting for NextJS project using husky (#54)
  .github/workflows/lint-and-format.yml
  .gitignore
  frontend/package.json
Due: prettier --write

Add stoage option instead of getStorage
  frontend/lib/store/local-limit.ts
Due: prettier --write, eslint --fix, eslint

Removed merging annotation
  README.de.md
Due: none

Removed merging annotation
  README.zh-CN.md
Due: none

Fix Zustand warnings. (#98)
  README.de.md
  README.fr.md
  README.zh-CN.md
  frontend/lib/store/local-limit.ts
Due: prettier --write, eslint --fix, eslint

feat: add auto generate the meaning title for the message
  frontend/lib/tools/auto.ts
Due: prettier --write, eslint --fix, eslint

fix: remove await & change prompt text
  frontend/lib/tools/auto.ts
Due: prettier --write, eslint --fix, eslint

Update search.ts
  frontend/lib/search/search.ts
Due: prettier --write, eslint --fix, eslint

Refactor Search Engine Selection Logic and Improve Code Flexibility (#102)
  frontend/lib/search/search.ts
Due: prettier --write, eslint --fix, eslint

Update vector.ts
  frontend/lib/search/vector.ts
Due: prettier --write, eslint --fix, eslint

Refactor VectorSearch Class (#104)
  frontend/lib/search/vector.ts
Due: prettier --write, eslint --fix, eslint

Fix prettier
  frontend/lib/search/search.ts
  frontend/lib/utils.ts
Due: prettier --write, eslint --fix, eslint

Update preview.tsx
  frontend/components/code/preview.tsx
Due: prettier --write, eslint --fix, eslint

Enhanced Error Handling and naming correction (#105)
  frontend/components/code/preview.tsx
Due: prettier --write, eslint --fix, eslint

Update share-button.tsx
  frontend/components/shared/share-button.tsx
Due: prettier --write, eslint --fix, eslint

cp env.example .env To cp env-example .env
  CONTRIBUTING.md
  README.de.md
  README.es.md
  README.fr.md
  README.ja.md
  README.md
  README.zh-CN.md
Due: none

cp env.example .env To (#107)
  CONTRIBUTING.md
  README.de.md
  README.es.md
  README.fr.md
  README.ja.md
  README.md
  README.zh-CN.md
Due: none

bun lockb file code update
  frontend/bun.lockb
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

change the place of testing guidelines
  frontend/TESTING_GUIDELINES.md
Due: prettier --write

prettier error solved
  CONTRIBUTING.md
Due: none

fix: address pagespeed and accessibility issues on memfree.me (#44)
  frontend/app/[locale]/error.tsx
  frontend/app/[locale]/not-found.tsx
  frontend/components/code/toolbar.tsx
  frontend/components/email-form.tsx
  frontend/components/failed-url-table.tsx
  frontend/components/forms/billing-form-button.tsx
  frontend/components/forms/customer-portal-button.tsx
  frontend/components/index/index-web.tsx
  frontend/components/layout/hero-landing.tsx
  frontend/components/layout/mobile-menu.tsx
  frontend/components/layout/sign-in-button.tsx
  frontend/components/layout/sign-in-group.tsx
  frontend/components/layout/site-header.tsx
  frontend/components/layout/user-account-nav.tsx
  frontend/components/modal/subscribe-model.tsx
  frontend/components/modal/upgrade-model.tsx
  frontend/components/pricing-cards.tsx
  frontend/components/profile.tsx
  frontend/components/search/mindmap.tsx
  frontend/components/search/question-section.tsx
  frontend/components/search/search-bar.tsx
  frontend/components/shared/share-button.tsx
  frontend/components/sidebar/clear-history.tsx
  frontend/components/sidebar/sidebar-list.tsx
  frontend/components/sidebar/sidebar-open.tsx
Due: prettier --write, eslint --fix, eslint

fix: address pagespeed and accessibility issues on memfree.me (#44)
  frontend/lib/utils.ts
Due: prettier --write, eslint --fix, eslint

Update CONTRIBUTING.md with a section on testing Fixed:#99 (#108)
  CONTRIBUTING.md
  frontend/TESTING_GUIDELINES.md
Due: prettier --write

Fix pagespeed accessibility issues 44 (#109)
  frontend/app/[locale]/error.tsx
  frontend/app/[locale]/not-found.tsx
  frontend/bun.lockb
  frontend/components/code/toolbar.tsx
  frontend/components/email-form.tsx
  frontend/components/failed-url-table.tsx
  frontend/components/forms/billing-form-button.tsx
  frontend/components/forms/customer-portal-button.tsx
  frontend/components/index/index-web.tsx
  frontend/components/layout/hero-landing.tsx
  frontend/components/layout/mobile-menu.tsx
  frontend/components/layout/sign-in-button.tsx
  frontend/components/layout/sign-in-group.tsx
  frontend/components/layout/site-header.tsx
  frontend/components/layout/user-account-nav.tsx
  frontend/components/modal/subscribe-model.tsx
  frontend/components/modal/upgrade-model.tsx
  frontend/components/pricing-cards.tsx
  frontend/components/profile.tsx
  frontend/components/search/mindmap.tsx
  frontend/components/search/question-section.tsx
  frontend/components/search/search-bar.tsx
  frontend/components/shared/share-button.tsx
  frontend/components/sidebar/clear-history.tsx
  frontend/components/sidebar/sidebar-list.tsx
  frontend/components/sidebar/sidebar-open.tsx
Due: prettier --write, eslint --fix, eslint
